# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.python-version

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Django static files
staticfiles

# Virtual environment
venv/
ENV/
env/
.env
.venv

# Sphinx documentation
docs/_build/
